# Demo of TextScrub Package

In [7]:
# importing required packages
import pandas as pd
import os

os.chdir("..")
from textscrub import normalize_text

In [2]:
# loading the dataset
df = pd.read_csv("D:\\textscrub\\tests\\testing_dataset.csv")
df.head(5)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0

### Example - Single string

In [3]:
example = "@105841 Do you need help? Please DM us and let us know any steps you've tried since experiencing these behaviors.ðŸ˜­ðŸ˜­ https://t.co/GDrqU22YpT"
output = normalize_text.normalize_text(example,
                   remove_glyphs=False,
                   remove_html_tags = False,
                   remove_hyperlinks = True, 
                   remove_punctuation = False, #
                   remove_spaces = True, 
                   tokenizing = False, #
                   stopwords_removal = False, #
                   lemmat = False, 
                   remove_emojis = False, #
                   replace_emojis = False
                   )

print("Raw Text: " + example)
print("Cleaned Text: " + output)

Raw Text: @105841 Do you need help? Please DM us and let us know any steps you've tried since experiencing these behaviors.ðŸ˜­ðŸ˜­ https://t.co/GDrqU22YpT
Cleaned Text: @105841 Do you need help? Please DM us and let us know any steps you've tried since experiencing these behaviors.ðŸ˜­ðŸ˜­

In [5]:
example = "@105841 Do you need help? Please DM us and let us know any steps you've tried since experiencing these behaviors.ðŸ˜­ðŸ˜­ https://t.co/GDrqU22YpT"
output = normalize_text.normalize_text(example,
                   remove_glyphs=False,
                   remove_html_tags = False,
                   remove_hyperlinks = True, 
                   remove_punctuation = True, 
                   remove_spaces = True, 
                   tokenizing = True, 
                   stopwords_removal = True, 
                   lemmat = False, 
                   remove_emojis = True, 
                   replace_emojis = False
                   )

print("Raw Text: " + example)
print("Cleaned Text: ")
print(output)

Raw Text: @105841 Do you need help? Please DM us and let us know any steps you've tried since experiencing these behaviors.ðŸ˜­ðŸ˜­ https://t.co/GDrqU22YpT
Cleaned Text:
['105841', 'need', 'help', 'DM', 'let', 'know', 'steps', 'youve', 'tried', 'experiencing', 'behaviors']

### Example - DataFrame Column

In [ ]:
df['cleaned'] = df['text'].apply(lambda x: 
                normalize_text.normalize_text(x,
                   remove_glyphs=False,
                   remove_html_tags = False,
                   remove_hyperlinks = True,
                   remove_punctuation = False,
                   remove_spaces = True,
                   tokenizing = False,
                   stopwords_removal = False,
                   lemmat = False,
                   remove_emojis = False,
                   replace_emojis = False
                   )
                )

In [ ]:
df[['text', 'cleaned']]

,text,cleaned
0,@AppleSupport causing the reply to be disregar...,@AppleSupport causing the reply to be disregar...
1,@105835 Your business means a lot to us. Pleas...,@105835 Your business means a lot to us. Pleas...
2,@76328 I really hope you all change but I'm su...,@76328 I really hope you all change but I'm su...
3,@105836 LiveChat is online at the moment - htt...,@105836 LiveChat is online at the moment - or ...
4,@VirginTrains see attached error message. I've...,@VirginTrains see attached error message. I've...
...,...,...
88,@105860 I wish Amazon had an option of where I...,@105860 I wish Amazon had an option of where I...
89,They reschedule my shit for tomorrow https://t...,They reschedule my shit for tomorrow
90,"@105861 Hey Sara, sorry to hear of the issues ...","@105861 Hey Sara, sorry to hear of the issues ..."
91,@Tesco bit of both - finding the layout cumber...,@Tesco bit of both - finding the layout cumber...
92,@105861 If that doesn't help please DM your fu...,@105861 If that doesn't help please DM your fu...