In [1]:
# importing required packages
import os

import pandas as pd

os.chdir("..")
from textscrub import clean

In [2]:
# loading the dataset
df = pd.read_csv("tests\\testing_dataset.csv")
df.head(2)

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0

In [3]:
# getting the shape of dataset
df.shape

(93, 7)

## Examples of Clean

In [4]:
# removing hyperlinks
df['hyperlinks'] = df['text'].apply(lambda x: clean.remove_hyperlinks(x))
df['hyperlinks'].head()

0    @AppleSupport causing the reply to be disregar...
1    @105835 Your business means a lot to us. Pleas...
2    @76328 I really hope you all change but I'm su...
3    @105836 LiveChat is online at the moment -  or...
4    @VirginTrains see attached error message. I've...
Name: hyperlinks, dtype: object

In [5]:
# removing punctuation
df['punctuation'] = df['text'].apply(lambda x: clean.remove_punctuation(x))
df['punctuation'].head()

0    AppleSupport causing the reply to be disregard...
1    105835 Your business means a lot to us Please ...
2    76328 I really hope you all change but Im sure...
3    105836 LiveChat is online at the moment  https...
4    VirginTrains see attached error message Ive tr...
Name: punctuation, dtype: object

In [6]:
# removing html
df['html'] = df['text'].apply(lambda x: clean.remove_html_tags(x))
df['html'].head()

0    @AppleSupport causing the reply to be disregar...
1    @105835 Your business means a lot to us. Pleas...
2    @76328 I really hope you all change but I'm su...
3    @105836 LiveChat is online at the moment - htt...
4    @VirginTrains see attached error message. I've...
Name: html, dtype: object

In [7]:
# removing non-ascii, non-printable characters, non-latins characters
df['glyphs'] = df['text'].apply(lambda x: clean.remove_glyphs(x))
df['glyphs'].head()

0    AppleSupportcausingthereplytobedisregardedandt...
1    YourbusinessmeansalottousPleaseDMyournamezipco...
2    IreallyhopeyouallchangebutImsureyouwontBecause...
3    LiveChatisonlineatthemomenthttpstcoSYVtUKqorco...
4    VirginTrainsseeattachederrormessageIvetriedlea...
Name: glyphs, dtype: object

In [8]:
# remove extra spaces
df['spaces'] = df['text'].apply(lambda x: clean.remove_spaces(x))
df['spaces'].head()

0    @AppleSupport causing the reply to be disregar...
1    @105835 Your business means a lot to us. Pleas...
2    @76328 I really hope you all change but I'm su...
3    @105836 LiveChat is online at the moment - htt...
4    @VirginTrains see attached error message. I've...
Name: spaces, dtype: object